@import 'main';

.radio-color-picker {
  &__wrapper {
    display: flex;
    color: #fff;
  }

  &__item {
    border-radius: 5px;
    margin-right: 15px;
    min-width: 3%;
    height: 35px;
    cursor: pointer;
    border: 2px solid transparent;

    @include highlighted-color-options($supported-highlight-colors);
  }

  &--item-labeled {
    display: flex;
    align-items: center;
    padding: 0 5px;
    width: 5%;
    justify-content: center;
  }

  &--item-selected {
    border: 2px solid #333;
  }
}
