<div class="highlighter__wrapper">
  <div class="highlighter__textarea-highlights">
    <app-color-picker-container class="highlighter__color-picker"></app-color-picker-container>

    <app-text-area-highlight-container class="highlighter__textarea"></app-text-area-highlight-container>
  </div>

  <h2 class="highlighter__highlights-title">Selected Highlights</h2>

  <div class="highlighter__highlights">
    <app-color-filter-container></app-color-filter-container>

    <app-highlight-list-container></app-highlight-list-container>
  </div>
</div>
