$bg-principal-color: #ffffff;
$bg-section-color: darken(#ffffff, 2%);

$font-color-1:#2B2B27;
$font-color-2:#363632;
$font-color-3:#40403D;
$font-color-4:#555553;

$bg-border-1: #60605E;

$bg-highlight-1: #BC2020;
$bg-highlight-2: #ECE629;
$bg-highlight-3: #348574;