@mixin highlight-colors($highlight-color-map) {
  @each $name, $value in $highlight-color-map {
    &.highlight-#{$name} {
      &::selection {
        background-color: map-get($value, 'bg-color');
        color: map-get($value, 'color');
      }
    }
  }
}

@mixin highlighted-color-options($highlight-color-map) {
  @each $name, $value in $highlight-color-map {
    &.highlight-option-#{$name} {
      &:hover {
        background-color: darken(map-get($value, 'bg-color'), 6%);
      }
      background-color: map-get($value, 'bg-color');
      color: map-get($value, 'color');
    }
  }
}

@mixin highlighted-color-marks($highlight-color-map) {
  @each $name, $value in $highlight-color-map {
    .highlight-#{$name} {
      border-radius: 3px;
      color: transparent;
      background-color: map-get($value, 'bg-color');
    }
  }
}

@mixin highlighted-color-circle($highlight-color-map) {
  @each $name, $value in $highlight-color-map {
    &.highlight-#{$name} {
      background-color: map-get($value, 'bg-color');
    }
  }
}
